:root {
  --primary-color: #1a4b84;
  --chathams_blue: #1a4b84;
  --tamarillo: #991e14;
  --yellow_sea: #fead06;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

#landingpageBg {
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

#landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: calc(100vh - 169px);
  color: white;
  font-family: "Poppins", sans-serif;
}

#time {
  font-size: 3.5rem;
  font-family: fantasy;
  letter-spacing: 5px;
}

.greet {
  display: flex;
}

#name {
  font-size: 2.5rem;
  height: 64px;
  /* width: 259.56px; */
  overflow: hidden;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

#place {
  font-size: 1.5rem;
}

.affirm {
  font-size: 1rem;
}
#quote {
  font-size: 1.2rem;
}

#greet {
  padding-right: 5px;
  font-size: 2.5rem;
}

header .navbar-brand {
  height: 150px;
}
